a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0}
ins{text-decoration:underline}
del{text-decoration:line-through}
blockquote{font-style:italic;color:#888}
dl,ul{list-style-position:inside;font-weight:700;list-style:none}
ul li{list-style:none}
caption,th{text-align:center}
img{border:none;position:relative}
a,a:visited{text-decoration:none}
.clear{clear:both}
.section,.widget,.widget ul{margin:0;padding:0}
a{color:$(main.color)}
a:hover{color:$(main.color)}
:focus{outline:0}
a img{border:0}
brc{color:#bdbdbd}
.CSS_LIGHTBOX{z-index:999999!important}
.separator a{clear:none!important;float:none!important;margin-left:0!important;margin-right:0!important}
#navbar-iframe{display:none;height:0;visibility:hidden}
span.item-control,a.quickedit{display:none!important}
.archive .home-link,.index .home-link,.home-link{display:none!important}
*{outline:0;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
:after,:before{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
.status-msg-wrap{margin:0 auto 25px}
.status-msg-border{border:1px solid #eee;opacity:.7;border-radius:2px;padding:5px}
.feed-links{clear:both;display:none;line-height:2.5em}
/* Body */
body{background:#ffffff;font:normal normal 14px Noto Sans;color:#4f4f4f;word-wrap:break-word}
#outer-wrapper{max-width:100%;margin:25px auto 0;background-color:#FFF;}
.row{width:1170px}
h1, h2, h3, h4 {margin: 0;position: relative;font-family: 'Noto Sans', sans-serif;}
#content-wrapper{margin:25px auto 5px;overflow:hidden}
#main-wrapper{float:left;overflow:hidden;width:67%;word-wrap:break-word}
#sidebar-wrapper{float:right;overflow:hidden;width:33%;padding-left:2%;box-sizing:border-box;word-wrap:break-word;padding-bottom:20px}
#main-wrapper #main {margin-right:2%;}
.post-tag,.recent-auther,.resumo span,.recent-author,.recent-date,.postags,.first-tag,.carousel-tag a,.item-text,.cmm-widget li span,.post-meta,.item article,.static_page article,.item-snippet,.comment-content,.FollowByEmail .widget-content:before{font-family: 'Noto Sans', sans-serif}
#topnav{position: fixed;z-index: 999;top: 0;left: 0;width:100%;background-color:#fff;margin:0; border-bottom: 1px solid rgba(0,0,0,0.1);}
.tm-head{margin:0 auto;line-height:35px;overflow:hidden;border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);}
.tm-menu{float:left;    margin-left: 20px;}
#nav1 li{float:left;display:inline-block;height:36px;line-height:36px;margin-right:15px;padding:0}
#nav1 li a{color: #2c2f34;font-size: 11px;font-weight: 400;letter-spacing: 0.3px;text-transform: uppercase;font-family: 'Noto Sans', sans-serif}
#nav1 li a:hover{color:$(main.color)}
.selectnav{display:none;background-color:$(main.color);padding:2px 5px;box-sizing:border-box;border:0}
.social-area{float:right;    margin-right: 20px;}
.tm-head #social-top{position:relative;display:block;margin-right:0}
.tm-head #social-top ul{overflow:hidden}
.tm-head #social-top ul li{height:36px;line-height:35px;display:block;float:left;margin-left:3px;padding:0}
.tm-head #social-top ul li a{ display: block;float: left;text-decoration: none;width: 35px;height: 36px;line-height: 45px;text-align: center;padding: 0;}
.tm-head #social-top ul li a:before{display: inline-block;content: " ";width: 20px;height: 20px;background-repeat: no-repeat}
.tm-head #social-top ul li a:hover{background-color:$(main.color)}
.tm-head #social-top ul li a:hover::before{filter: invert(1);}
#social-top .telegrm:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentcolor' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' fill='%23000' r='12'/%3E%3Cpath d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='%23fff'/%3E%3C/svg%3E");}
#social-top .facebook:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentcolor' viewBox='0 0 24 24'%3E%3Cpath d='M22.5 0c.83 0 1.5.67 1.5 1.5v21c0 .83-.67 1.5-1.5 1.5h-6v-9h3l.75-3.75H16.5v-1.5c0-1.5.75-2.25 2.25-2.25h1.5V3.75h-3c-2.76 0-4.5 2.16-4.5 5.25v2.25h-3V15h3v9H1.5A1.5 1.5 0 0 1 0 22.5v-21C0 .67.67 0 1.5 0h21z' /%3E%3C/svg%3E");}
#social-top .instagram:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentcolor' viewBox='0 0 64 64'%3E%3Cpath d='M8.2 0h47.6A7.989 7.989 0 0 1 64 8.2v47.6a7.989 7.989 0 0 1-8.2 8.2H8.2A7.989 7.989 0 0 1 0 55.8V8.2A7.989 7.989 0 0 1 8.2 0zm38.4 7.1a2.9 2.9 0 0 0-2.9 2.9v6.9a2.9 2.9 0 0 0 2.9 2.9h7.2a2.9 2.9 0 0 0 2.9-2.9V10a2.9 2.9 0 0 0-2.9-2.9zm10.2 20h-5.6a19.758 19.758 0 0 1 .8 5.5c0 10.6-8.9 19.3-19.9 19.3s-19.9-8.6-19.9-19.3a19.758 19.758 0 0 1 .8-5.5H7.1v27a2.476 2.476 0 0 0 2.5 2.5h44.6a2.476 2.476 0 0 0 2.5-2.5l.1-27zm-24.7-7.7a12.723 12.723 0 0 0-12.9 12.5 12.64 12.64 0 0 0 12.9 12.4A12.723 12.723 0 0 0 45 31.8a12.64 12.64 0 0 0-12.9-12.4z' /%3E%3C/svg%3E");}
#social-top .youtube:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentcolor' viewBox='0 0 24 24'%3E%3Cpath d='M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z' /%3E%3C/svg%3E");}
#social-top .quora:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentcolor' viewBox='0 0 24 24'%3E%3Cpath d='m17.516 20.01c2.992-1.903 4.984-5.313 4.984-9.199 0-5.969-4.702-10.811-10.5-10.811-5.8 0-10.5 4.842-10.5 10.812 0 5.973 4.7 10.812 10.5 10.812.853 0 1.68-.107 2.475-.305.995 1.841 2.516 3.145 5.738 2.523v-1.835c0 .001-2.066-.527-2.697-1.997zm-.073-7.767c0 1.805-.567 3.444-1.486 4.653-1.153-1.249-2.962-2.274-5.257-2.144v2.125s1.558.063 2.622 1.923c-.4.12-.813.184-1.243.184-2.962 0-5.361-3.019-5.361-6.744v-2.782c0-3.726 2.4-6.745 5.361-6.745 2.962 0 5.364 3.02 5.364 6.745z' /%3E%3C/svg%3E");}

#header-blog{height:150px;position:relative;overflow:hidden;padding:10px 0;margin-top: 36px;}
.header-content{margin:0 auto;overflow:hidden;height:150px}
.header-logo{max-width:300px;max-height:120px;margin:18px 0 0;float:left;overflow:hidden}
.header-logo img{height:auto;max-height:68px;margin:0;max-width:100%}
.Header h1{color:#222222;margin:0;font-size:44px;line-height:1.3em;text-align: center;}
.header-ads{width:728px;max-width:100%;max-height:90px;float:right;margin:18px 0 0}
#menu{display:none}
#main-nav{background-color:#ffffff;position:relative;width:100%;height:60px;font-size:14px;margin:0 auto;}
.header-menu{background-color:black;height:60px;margin:0 auto;position:relative;padding:0}
.is-sticky #main-nav{width:100%!important;max-width:100%;top:0;left:0;margin:0;z-index:999999;transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
.is-sticky{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
li.li-home{position:relative;z-index: 10;float:left;display:inline-block;height:60px;width:60px;text-align:center;background-color:#ffa602}
li.li-home:hover{background-color:#ff5722;}
li.li-home a{display: inline-block;width: 60px;height: 60px;}
li.li-home:hover a{color:#fff}
#main-nav .snd-menu li{position:relative;float:left;height:60px;box-sizing:border-box;padding:0;}
#main-nav .snd-menu li a{color:#ffffff;padding:0 16px;line-height:60px;text-transform:uppercase;font-weight:400;letter-spacing: 0.5px}
#main-nav .snd-menu li:hover{background-color:$(main.color);border-color:#222222}
#main-nav .snd-menu li:hover a{color:#fff}
#main-nav .snd-menu li.has-children a{padding-right:28px}
#main-nav .snd-menu li.has-children a:after{content:" ";position:absolute;top:0;right:14px}
#main-nav .snd-menu li ul{display:none;position:absolute;left:0;top:60px;z-index:100;background-color:#222222;border-top:0px;box-shadow:0 1px 3px rgba(40,35,40,0.05);transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
#main-nav .snd-menu li ul li{height:auto;margin-left:0;display:block;float:none;position:relative;overflow:hidden;line-height:normal;padding:0;border-right:0;border-bottom:1px solid #333333}
#main-nav .snd-menu li ul li:last-child{border-bottom:0}
#main-nav .snd-menu li ul li a{min-width:180px;color:#eee;font-size:12px;font-weight:400;text-transform:capitalize;height:38px;line-height:38px;overflow:hidden;box-sizing:border-box;padding:0 16px;margin-top:0;border:0;transition:all .3s ease!important;-webkit-transition:all .3s ease!important;-moz-transition:all .3s ease!important;-o-transition:all .3s ease!important}
#main-nav .snd-menu li ul li a:after{display:none}
#main-nav .snd-menu li ul li a:hover {background-color:$(main.color);color:#fff!important;padding-left:20px}
.is-sticky #main-nav{animation-name:slideInDown;animation-duration:.5s;animation-fill-mode:both}
@keyframes slideInDown {
from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}
to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}
.header-search {position: relative;float: right;background-color: #ffa602;}
.header-search input[type="checkbox"] {display: none;}
.header-search label.search-btn {display: block;width: 60px;height: 60px;cursor: pointer;text-align: center;}
.header-search label.search-btn:hover {background-color: #ff5722;}
.header-search label.search-btn svg {width: 22px;height: 22px;margin-top: 19px;}
.header-search form {display: none;position: absolute;right: 60px;top: 0;z-index: 2;}
.header-search form input {height: 60px;padding: 0 6px 0 9px;width: 232px;background-color: #333;color: #EEE;font-family: inherit;border: none;line-height: 60px;}
.header-search input[type="checkbox"]:checked ~ form {display: block;}
.ticker .title{float: left;height: 40px;background-color: #1f2024;color: #fff;line-height: 40px;overflow: hidden;padding: 0 10px;font-weight: 600;font-size: 14px}
div#FollowByEmail1 .widget-content {background: #ffffff;border: 1px solid rgba(0,0,0,0.1);border-radius: 2px;padding: 30px;}
.ticker .widget-content{height:40px;box-sizing:border-box;overflow:hidden;padding:0 4px;border:1px solid #eee}
.ticker .widget-content li{float:left;margin-left:30px;display:inline-block;height:38px;line-height:38px;padding:0}
.ticker .widget{height:40px;background-color:#ffffff;max-width:1170px;margin:20px auto;overflow:hidden}
.tk-thumb{float:left;margin:4px 10px 0 0}
.tk-img{position:relative;display:block;width:30px;height:30px;overflow:hidden}
.ticker .post-tag{display:inline-block;background-color:$(main.color);color:#fff;margin-right:10px;font-weight:400;height:18px;line-height:18px;padding:1px 6px;font-size:11px;text-transform:uppercase;position:relative;margin-top:10px;float:left}
.ticker .recent-title{font-size:13px;font-weight: 600;display:inline-block;line-height:15px}
.ticker .recent-title a{color:#222222}
.ticker .recent-title a:hover{color:$(main.color)}
.tickercontainer,.tickercontainer .mask,ul.newsticker{-webkit-transition:all 0 linear;-moz-transition:all 0 linear;-o-transition:all 0 linear;transition:all 0 linear;list-style:none;margin:0}
.tickercontainer{margin:0;padding:0;overflow:hidden}
.tickercontainer .mask{position:relative;overflow:hidden}
.newsticker{position:relative;list-style-type:none;margin:0;padding:0}
ul.newsticker{-webkit-transition:all 0s linear;-moz-transition: all 0s linear;-o-transition:all 0s linear;transition:all 0s linear;position:relative;list-style-type:none;margin:0;padding:0}
.tickeroverlay-left{display:none}
.tickeroverlay-right{display:none}
.recent-boxes{overflow:hidden;position:relative}
.box-sec{margin-right:2%}
.box-sec h2{display:none}
.recent-boxes .box-sec .widget:last-child{margin-bottom:20px}
a.more-link,a.posts-link{    background-color: #1f2024;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;}
a.more-link:hover,a.posts-link:hover{background-color:$(main.color);color:#fff}
.box-title,.posts-title{height:30px;line-height:30px;background-color:#f9f9f9;position:relative;margin-bottom:15px}
.box-title h2.title,.posts-title h2{position:relative;float:left;height:27px;line-height:27px;text-transform:uppercase;background-color:$(main.color)!important;display:inline-block;padding: 2px 16px;margin: 0;font-family:'Noto Sans';font-size: 14px;font-weight: 600;}
.box-title h2.title a,.posts-title h2 a{color:#fff}
.box-title h2.title:before,.posts-title h2:before{left: 100%;top:0;height: 0;width: 7px;position: absolute;content: " ";
    pointer-events: none;
    margin-left: 0;
    margin-top: 0;
    border-bottom: 30px solid #fff;
    border-right: 20px solid transparent;}
.box-title h2.title:after,.posts-title h2:after{left: 100%;
    top: 0;
    height: 0;
    width: 0;
    position: absolute;
    content: " ";
    pointer-events: none;
    margin-left: 0;
    margin-top: 0;
    border-bottom:31px solid $(main.color);
    border-right: 20px solid transparent;}

.recent-boxes .widget{margin-bottom:30px}
.boxes .bx-first .box-thumbnail{position:relative;width:100%;height:200px}
.boxes .bf-thumb{width:100%;height:200px;position:relative;display:block}
.box-thumbnail{overflow:hidden}
.boxes ul .bx-right .box-thumbnail{width:110px;height:75px;display:table-cell;vertical-align:middle}
.boxes ul .bx-right .box-image{width:110px;height:75px;position:relative;display:block}
.bx-first .box-thumbnail .first-tag{position:absolute;top:15px;left:15px;z-index:2}
.bx-first .box-thumbnail .first-tag a{background:$(main.color);color:#fff;text-transform:uppercase;height:20px;line-height:20px;display:inline-block;padding:0 6px;font-size:11px;font-weight:400;border-radius:2px}
.boxes ul .bx-right .recent-content{display:table-cell;padding-left:10px;padding-right:5px}
.boxes .recent-title a:hover{color:$(main.color)}
.recent-boxes .feat{width:100%;float:left}
.recent-boxes .carousel{position:relative;margin:0 0 30px!important;padding:0;overflow:visible;height:auto;display:block;clear:both}
.feat .bx-first .box-thumbnail,.feat .bf-thumb{height:248px}
.feat .bx-first{width:50%;position:relative;float:left;padding-right:1.4%;box-sizing:border-box;overflow:hidden;}
.feat .bx-item{width:100%;position:relative;overflow:hidden}
.feat .bx-first .bf-content{width:100%;height: 112px;padding:15px;box-sizing:border-box;background-color: #ff4500;background: linear-gradient(to right, #333333, #dd1818);}
.feat .bx-first .bf-content .recent-title a{display: block;color: #fff;margin-bottom: 5px;font-size: 20px;line-height: 1.4;font-weight: normal;font-family: 'Noto Sans';letter-spacing: -.04em;}
.feat li .recent-content .recent-title{overflow:hidden;line-height:0;margin:0 0 2px;padding:0}
.feat li .recent-content .recent-title a{    color: #222222;line-height: 1.4;font-weight: 600;font-family: 'Noto Sans';font-size: 14px;letter-spacing: -.04em;}
.boxes ul .bx-right .recent-content .recent-title a:hover{color:$(main.color)}
.bx-first .bf-thumb:after{content:no-close-quote;position:absolute;left:0;bottom:0;width:100%;height:151px;background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjUuHI5p9Jka94jZkkx0gWHYHZRUUR_aoMns9IGwb1PtTIkIvVkE_GMyFxaiDXe4rrOj0S5umhKLRvBnSIoPGIl1orsDuMIPDYjECTnn2sMjn5zmM7FjUzQOAr23L2OQys8XVls4Jb122k/s1600-r/metabg.png) repeat-x;opacity:.8}
.bf-content .recent-author,.bf-content .recent-date{color:#ffffff}
.feat ul li{display:block;width:48.6%;float:right;padding-bottom:10px;margin-bottom:10px;padding-top:0;}
.feat ul li:last-child{border-bottom:0;padding-bottom:0;margin-bottom:0}

.img-overlay{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.tk-thumb a:hover .img-overlay,.boxes ul .bx-right .box-image:hover .img-overlay,.boxes .bx-first:hover .img-overlay,.custom-widget .rcthumb:hover .img-overlay,.PopularPosts .item-thumbnail:hover a .img-overlay,.map-thumb:hover .img-overlay{background-color:rgba(40,35,40,0.3)}

.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}
@-webkit-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0px,0px)}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-prev,.owl-next{top:0;background-color:rgba(0,0,0,0.75);position:absolute;z-index:1;display:block;padding:0;cursor:pointer;text-align:center;overflow:hidden}
.owl-prev{left:0}
.owl-prev:before{content: " ";display: block;width: 40px;height: 40px;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='-3 -3 30 30'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z'/%3E%3C/svg%3E");}
.owl-next{right:0}
.owl-next:before{content: " ";display: block;width: 40px;height: 40px;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='-3 -3 30 30'%3E%3Cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3E%3C/svg%3E");}
.owl-prev:hover,.owl-next:hover{background-color:#000}
.owl-dots{position:absolute;bottom:1px;width:33.33%;left:0;right:0;margin:auto;text-align:center}
.owl-dot{background:#fff;height:3px;width:10px;display:inline-block;margin:0 5px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;opacity:.6}
.owl-dot.active,.owl-dot:hover{background:$(main.color)}
.main-carousel{height: 387px;overflow:hidden}
.main-carousel .owl-item{width:100%;}
.carousel-item{height: 387px;width:100%;position:relative;padding:0!important;display:block;overflow:hidden}
.carousel-item .box-image{height:250px;position:relative;width:100%;display:block}
.carousel-content{width:100%;box-sizing:border-box;background-color:$(main.color);background: linear-gradient(to right, #333333, #dd1818);}
.carousel-item .carousel-content{padding:15px;text-align:left}
.carousel-item .recent-title{margin:10px 0 5px;font-size:19px;font-weight:normal}
.carousel-item .recent-title a {display: block; color: white;line-height: 1.4em; font-weight: normal; font-family: 'Noto Sans'; font-size: 18px; letter-spacing: -.04em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%; word-break: keep-all; max-width: 100%;}
.carousel-item .recent-author,.carousel-item .recent-date{color:#fff}
.carousel-item .recent-author:before,.carousel-item .recent-date:before{filter:invert(1);color:#fff}
.carousel-tag a{display:inline-block;background-color:$(main.color);color:#fff;height:20px;line-height:20px;padding:0 6px;font-size:11px;text-transform:uppercase;border-radius:2px}
.main-carousel .owl-item:hover .carousel-overlay {background-color:rgba(40,35,40,0.30)}  
.main-carousel .owl-prev,.main-carousel .owl-next{margin-top:0px;width:40px;height:40px;font-size:25px;line-height:40px}
.main-carousel .owl-prev{left:-50px}
.main-carousel:hover .owl-prev{left:0}
.main-carousel .owl-next{right:-50px}
.main-carousel:hover .owl-next{right:0}
.main-carousel .owl-dots{bottom:10px}
.recent-author,.recent-date{display: inline-flex;align-items: center;color:#5a5858;font-size:14px;font-weight:400}
.recent-author::before{content: ' ';float: left;width: 12px;height: 12px;margin-right: 7px;background-size:contain;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a5858' viewBox='2 2 12 12'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E")}
.recent-date::before{content: ' ';float: left;width: 12px;height: 12px;margin-right: 7px;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a5858' viewBox='0 0 24 24'%3E%3Cpath d='M20 20h-4v-4h4v4zm-6-10h-4v4h4v-4zm6 0h-4v4h4v-4zm-12 6h-4v4h4v-4zm6 0h-4v4h4v-4zm-6-6h-4v4h4v-4zm16-8v22h-24v-22h3v1c0 1.103.897 2 2 2s2-.897 2-2v-1h10v1c0 1.103.897 2 2 2s2-.897 2-2v-1h3zm-2 6h-20v14h20v-14zm-2-7c0-.552-.447-1-1-1s-1 .448-1 1v2c0 .552.447 1 1 1s1-.448 1-1v-2zm-14 2c0 .552-.447 1-1 1s-1-.448-1-1v-2c0-.552.447-1 1-1s1 .448 1 1v2z'%3E%3C/path%3E%3C/svg%3E")}
.recent-author{margin-right:10px}
.custom-widget li{overflow:hidden;border-bottom:1px solid #F5F5F5;padding:10px 0}
.custom-widget li:first-child{padding-top:0}
.custom-widget li:last-child{border-bottom:none}
.custom-widget .rcthumb{position:relative;float:left;margin:0!important;width:110px;height:75px;overflow:hidden;display:block;vertical-align:middle}
.custom-widget .post-panel{padding-left:10px;display:table-cell}
.custom-widget .rcp-title{overflow:hidden;line-height:0;margin:0 0 2px;padding:0}
.custom-widget .rcp-title a{color:#222222;line-height: 1.4;
    font-weight: 600;
    font-family: 'Noto Sans';
    font-size: 14px;
    letter-spacing: -.04em;}
.custom-widget .rcp-title a:hover{color:$(main.color)}
.cmm-widget li .cmm-avatar{position:relative;overflow:hidden;padding:0;width:55px;height:55px;float:left;margin:0 10px 0 0}
.cmm-widget li{background:none!important;clear:both;list-style:none;word-break:break-all;display:block;border-top:1px solid #F5F5F5;overflow:hidden;margin:0;padding:10px 0}
.cmm-widget li:first-child{padding-top:0;border-top:0}
.cmm-widget li:last-child{padding-bottom:0}
.cmm-widget li span{margin-top:4px;color:#bdbdbd;display:block;line-height:1.2em;text-transform:lowercase;font-size:12px;font-style:italic;font-weight:400}
.cmm-img{width:55px;height:55px;float:left;margin:0 10px 0 0}
.cmm-widget a{color:#222222;position:relative;font-size:13px;text-transform:capitalize;display:block;overflow:hidden;font-weight:400}
.cmm-widget a:hover{color:$(main.color)}
.cmm-widget{list-style:none;padding:0}
.home-ad .widget{width:728px;max-height:90px;padding:0 2% 0 0;margin:0px auto 20px!important;max-width:100%;box-sizing:border-box}
#ads-content h2,#ads-home h2,#post-ads-footer h2{display:none!important}
.posts-title{margin-right:2%}
.post{display:block;overflow:hidden;word-wrap:break-word}
.index .post,.archive .post{margin:0 0 12px 0;padding:5px;border:1px solid #bfbbbb;border-radius:3px;}
.index div.post-outer:last-child .post,.archive div.post-outer:last-child .post{border-bottom:1px solid #bfbbbb;padding-bottom:5px}
.block-image{position:relative;float:left;width:300px;height:190px;margin-right:20px}
.block-image .thumb{width:100%;height:190px;position:relative;display:block;z-index:2;overflow:hidden}
.block-image .thumb a{width:100%;height:190px;display:block}
.thumb-overlay{position:absolute;left:0;top:0;z-index:2;width:100%;height:100%;background-color:rgba(40,35,40,0.05)}
.block-image:hover .thumb a .thumb-overlay{background-color:rgba(40,35,40,0.30)}
.retitle h2{margin:8px 0;display:block}
.post h2 a,.post h2 a:visited,.post h2 strong{color:#222222;line-height:1.4em;text-decoration:none; font-weight: 600;font-family: 'Noto Sans';font-size: 20px;letter-spacing: -.04em;}
.post h2 a:hover{color:$(main.color)}
.widget iframe{max-width:100%;max-height:100%}
#Header1 img{max-width:60%;max-height:100%}
.index .post-footer,.archive .post-footer{display:none!important}
.index .post h2,.archive .post h2{margin:0 0 10px;padding:0 10px 0 0;overflow:hidden}
.item .post,.static_page .post{padding:0;background: #ffffff;border: 1px solid rgba(0,0,0,0.1);border-radius: 2px;padding: 20px;}
.item .post article table{width:100%;}
.date-header{display:block;overflow:hidden;font-weight:400;margin:0!important;padding:0}
.recent-auther{font-size:13px;color:#bdbdbd;line-height:1.4em}
.recent-auther a{display: inline-block;color:#5a5858}
.recent-auther a svg{display: inline-block;float: left;margin-right: 5px;margin-top: 2px;width: 12px;height: 12px}
.recent-auther .timestamp-link{margin-left:10px}
.recent-auther .timestamp-link abbr:before{content:' ';color:#bbb;margin-right:5px}
.resumo{margin-top:8px;font-size:13px;line-height:1.5em;color:#5a5858}
.resumo span{display:block;margin-bottom:8px;padding-right:10px}
a.read-more{display:inline-block;margin-bottom:0;font-weight:400;text-align:left;vertical-align:middle;cursor:pointer;line-height:25px;height:25px;color:#fff;background-color:$(main.color);border-radius:2px;font-size:13px;padding:0 10px;margin-top:3px;overflow:hidden}
a.read-more svg{display: inline-block;width: 13px;height: 13px;margin: 6px 0px 0px 4px;float: right;}
.post-meta{color:#bdbdbd;display:block;font-size:13px;font-weight:400;line-height:21px;margin:0;padding:0}
.hreview{display:none!important}
.postags{position:absolute;top:15px;left:15px;z-index:3}
.postags a{display:inline-block;background:$(main.color);color:#fff;margin:0;height:20px;line-height:20px;padding:0 6px;font-size:11px;text-transform:uppercase;border-radius:2px;display:none}
.postags a:first-child{display:inline-block}
.breadcrumbs a {color: #585757}
.breadcrumbs {color:#585757;font-size: 12px;font-weight:400;font-family:'Noto Sans'}
.item article,.static_page article{margin-top:20px}
.item .post-head,.static_page .post-head{margin:0 0 10px;position:relative;}
.item .post-title,.static_page .post-title{color: #222222; position: relative;display: inline-block;top: 20px; margin-bottom: 20px;letter-spacing: 0px;word-spacing: 0px;font-family: 'Noto Sans', sans-serif;font-size: 41px;font-weight: 700;line-height: 1.3;}
.item .post-body,.static_page .post-body{width:100%;color:#1f1f1f;font-size:17px;line-height:1.8em;text-align:justify;overflow:hidden}
.item .post-outer{padding:0}
.item .post-body img{max-width:100%}
.item .post-body table{width:100%}
.post-meta .post-author, .post-meta .post-timestamp, .post-meta .label-head a{display: inline-block;margin-right: 5px;margin-bottom: 5px;padding:2px 5px 2px;background-color: #5a5a5a;border-radius: 2px}
.post-meta a{color:#ffffff}
.post-timestamp{margin-left:0}
.label-head{margin-left:0}
.label-head a{padding-left:2px}
.label-head a:hover{color:$(main.color)}
.post-meta .post-timestamp .timestamp-link abbr:before{content:' ';margin-right:5px}
.main .widget{margin:0}
.main .Blog{border-bottom-width:0}
.share-box{height:36px;position:relative;line-height:0;margin:20px 0;padding:0;border-bottom:2px solid #eee}
.share-title{height:36px;color:#222222;float:left;font-size:13px;font-weight:700;position:relative;line-height:36px;text-transform:uppercase;display:inline-block;padding:0;border-bottom:2px solid #222222}
.share-art{float:right;padding:0;padding-top:0;font-size:13px;font-weight:400;text-transform:capitalize;text-align:right; margin: 6px 0;}
.share-art a{height:25px;line-height:26px;color:#fff;padding:0 8px;margin-left:4px;border-radius:2px;display:inline-block;margin-right:0}
.share-art a:hover{color:#fff}
.share-art .resp_del3{float:right;padding-left:5px}
.share-art .fac-art{background:#3b5998}
.share-art .fac-art:hover{background:rgba(49,77,145,0.7)}
.share-art .twi-art{background:#01840e}
.share-art .twi-art:hover{background:rgba(7,190,237,0.7)}
.share-art .pin-art{background:#CA2127}
.share-art .pin-art:hover{background:rgba(202,33,39,0.7)}
#ads-footer{display:none}
.ad-post-footer .widget-content{width:728px;max-width:100%;margin:0 auto 17px!important;max-height:90px}
.ticker .post-tag:hover,.carousel-tag a:hover,.bx-first .box-thumbnail .first-tag a:hover,.post-readmore a:hover,.postags a:hover,a.read-more:hover{background:#222222}
.post-nav li{padding:0;display:inline-block;width:50%}
.post-nav li strong{display:block;padding:0 0 5px;font-weight:700;text-transform:uppercase;font-size:13px}
.post-nav li strong i{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
ul.post-nav{background-color:#FFF;border-bottom:2px solid #EEE;border-top:2px solid #EEE;display:block;width:100%;overflow:hidden}
.post-nav li a{color:#222222;line-height:1.3em;display:block;padding:15px 0;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.post-nav li:hover a{opacity:.6}
ul.post-nav span{font-size:13px;font-weight:400}
.post-nav .previous{float:left;min-height:80px;border-right:1px solid #eee;box-sizing:border-box;padding-right:10px}
.post-nav .next{float:right;text-align:right;border-left:1px solid #eee;margin-left:-1px;padding-left:10px;box-sizing:border-box}
#blog-pager{clear:both;text-align:center;margin:0}
.index #blog-pager{display:block}
.index #blog-pager,.archive #blog-pager{padding:0 0 20px;text-align:left}
#blog-pager-newer-link a,#blog-pager-older-link a{display:block;float:left;margin-right:0;padding:0 12px;border:0;text-transform:uppercase;line-height:32px;font-weight:400;background-color:#222222;color:#fff;font-size:12px;border-radius:2px}
#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{background-color:$(main.color)}
.blogger-tab{display:block}
.comments{clear:both;margin-top:10px;margin-bottom:0;color:#222222}
.comments h4{font-weight:400}
.comments .comments-content{padding:10px 0}
.comments .comments-content .comment{margin-bottom:0;padding-bottom:8px}
.comments .comments-content .comment:first-child{padding-top:0}
.facebook-tab,.fb_iframe_widget_fluid span,.fb_iframe_widget iframe{width:100%!important}
.comments .item-control{position:static}
.comments .avatar-image-container,.comments .avatar-image-container img{display:none;}
.comments .comment-block{padding:10px;box-shadow:none;border:1px solid #eee;border-radius:2px}
.comments .comment-block,.comments .comments-content .comment-replies{margin-left:4px;margin-top:0}
.comments .comments-content .inline-thread{padding:0}
.comments .comments-content .comment-header{font-size:14px;border-bottom:1px solid #eee;padding:0 0 3px}
.comments .comments-content .user{font-style:normal;font-weight:400}
.comments .comments-content .icon.blog-author{font-weight:400}
.comments .comments-content .comment-content{color:#5e5e5e;text-align:left;font-size:14px;line-height:1.4em}
.comments .comment .comment-actions a{margin-right:5px;padding:2px 5px;color:#222222;font-weight:400;background-color:#f5f5f5;font-size:10px}
.comments .comment .comment-actions a:hover{color:#fff;background-color:$(main.color);text-decoration:none}
.comments .comments-content .datetime{color:#999;margin-left:0;float:right;font-size:11px}
.comments .comments-content .comment-header a{color:inherit}
.comments .comments-content .comment-header a:hover{color:$(main.color)}
.comments .comments-content .icon.blog-author:before{content:"Blank";font-size:12px}
.comments .thread-toggle{margin-bottom:4px}
.comments .comments-content .comment-thread{margin:4px 0}
.comments .comments-content .comment-thread ol{padding-inline-start: 18px}
.comments .continue a{padding:0;padding-top:10px;padding-left:47px;font-weight:400}
.comments .comments-content .loadmore.loaded{margin:0;padding:0}
.comments .comment-replybox-thread{margin:0}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:210px!important}
.comments-tabs.simpleTab .tab-content{background-color:transparent;padding:0;margin-top:0px}
.comments-tabs.simpleTab .tab-content .tab-blogger{margin-top:15px}
.comments-tabs.simpleTab{border:0;margin:20px 0;padding:0}
.comments-tabs-header{height:32px;background-color:#222222;position:relative;line-height:32px;margin:0;padding:0}
.comments-tabs-header h3{display:block;color:#fff;float:left;height:32px;font-size:13px;font-weight:400;background-color:#000;padding: 0 8px}
.comments-tabs.simpleTab .tab-wrapper li a{height:32px;background-color:#333333;color:#eee;font-size:12px;font-weight:400;text-transform:uppercase;line-height:32px;margin:0;padding:0 10px}
.comments-tabs.simpleTab .tab-wrapper li a.activeTab{background-color:$(main.color)}
.comments-tabs.simpleTab .tab-wrapper{float:right;text-align:right}
.comments-tabs.simpleTab .tab-wrapper li{margin-left:0}
.simpleTab .tab-wrapper li{display:inline-block;float: left;margin:0;padding:0}
.simpleTab .tab-wrapper li a{background-color:#333333;color:#FFF;padding:10px 25px;display:block}
.simpleTab .tab-wrapper li:before{content:'';display:none}
.simpleTab{margin:10px 0}
.simpleTab .tab-content{padding:15px;background-color:#f8f8f8}
.simpleTab .tab-wrapper li a.activeTab{background-color:$(main.color);color:#fff}
.simpleTab *{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.simpleTab.side .tab-wrapper{float:left;width:30%;margin:0!important;padding:0!important;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.simpleTab .tab-wrapper{padding:0!important;margin:0!important}
.simpleTab.side .tab-content{float:left;width:70%;box-sizing:border-box;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.simpleTab.side .tab-wrapper li{width:100%;display:block;text-align:center}
.simpleTab.side .tab-wrapper li a{padding:15px 0}
.simpleTab.side{overflow:hidden}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{margin-top:15px;margin-bottom:7px}
.post-body p{margin:0}
blockquote{background: #fcfcfc;border-left:3px solid $(main.color);margin-left:0;padding:10px 15px}
.firstcharacter{float:left;color:$(main.color);font-family:Georgia;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px;}
.widget .post-body ul,.widget .post-body ol{line-height:1.5;font-weight:400}
.widget .post-body li{margin:5px 0;padding:0;line-height:1.5}
.post-body ul li:not(:first-child)::before{content:"\203a";margin-right:5px;font-size:20px;color: #00549e}
#sidebar-wrapper .widget{margin-bottom: 20px;overflow: hidden;background: #ffffff;}
.sidebar h2, .sidebar2 h2, .tab h2 {color: #666;text-transform: uppercase;margin: 0 0 0 0;padding: 0;position: relative;margin-bottom: 15px;background: #f9f9f9;position: relative;height:30px;}
.sidebar h2 span, .sidebar2 h2 span {color: #fff;position: relative;background-color: $(main.color)!important;display: inline-block;padding: 0px 16px;margin: 0;font-family: 'Noto Sans';font-size: 14px;font-weight: 600;line-height: 31px;height: 30px;}
#sidebar-wrapper h2 span:before {left: 100%;top: 0;height: 0;width: 7px;position: absolute;content: " ";pointer-events: none;margin-left: 0;margin-top: 0;border-bottom: 30px solid #fff;border-right: 20px solid transparent;}
#sidebar-wrapper h2 span:after {left: 100%;top: 0;height: 0;width: 0;position: absolute;content: " ";pointer-events: none;margin-left: 0;margin-top: 0;border-bottom: 30px solid $(main.color);border-right: 20px solid transparent;}
.sidebar ul{list-style:none}
.sidebar .widget-content{margin:0}
.social-counter{margin:0;padding:0;overflow:hidden}
.social-counter ul{margin:0;padding:0}
.social-counter ul li{width:43%;height:44%;float:left;text-align:left;margin:0 0 8px; position: relative;border: 1px solid #bfbbbb; padding: 8px; border-radius:3px;}
.social-counter ul li:nth-child(2),.social-counter ul li:nth-child(4){float:right}
.social-counter ul li a{margin:0;padding:0}
.social-counter .item-icon{display: block;color: #fff;margin: 0;border-radius: 2px;padding: 10%}
.social-counter .item-icon svg {display: block;}
.item-count{display:inline-block;color:#333;font-weight:700;font-size:14px;line-height:36px;float:left;padding-left:8px}
.item-text{display:inline-block;float:right;color:#666666;font-size:12px;line-height:36px;font-weight:400;padding-right: 5px}
.item-social.facebook .item-icon{background-color:#5271b3;background: linear-gradient(to right, #00c6ff, #0072ff);}
.item-social.telegram .item-icon{background-color: #039be5;background: linear-gradient(to top right, #039be5 0%, #ccffff 100%);}
.item-social.youtube .item-icon{background-color:#eb1a21;background: linear-gradient(to right, #e52d27, #b31217);}
.item-social.quora .item-icon{background-color:#FFC200;background: linear-gradient(to right, #ff8008, #ffc837);}
.social-counter ul li .item-icon:hover{background-color:#222222;background:#222222}
.social-counter ul li .item-text:hover{color:$(main.color)}
.menu-tab li a,.sidetabs .section {transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease;-ms-transition:all 0s ease}
.menu-tab{overflow:hidden;clear:both;padding:0;margin:0 0 10px}
.sidetabs .widget h2{display:none}
.menu-tab li{width:50%;float:left;display:inline-block;padding:0}
.menu-tab li a{height:32px;text-align:center;padding:0;font-weight:700;display:block;color:#EEE;background-color:#222222;font-size:11px;line-height:36px;letter-spacing:.5px;text-transform:uppercase}
.menu-tab li.active a{color:#FFF;background-color:$(main.color)}
.menu-tab li{display:none}
.hide-tab{display:inline-block!important}
.list-label-widget-content li{display:block;padding:8px 0;border-bottom:1px solid #F5F5F5;position:relative}
.list-label-widget-content li:first-child{padding:0 0 8px}
.list-label-widget-content li:last-child{border-bottom:0}
.list-label-widget-content li a{color:#222222;font-size:11px;padding-left: 5px;font-weight:400;text-transform:uppercase}
.list-label-widget-content li a:hover{color:$(main.color)}
.list-label-widget-content li span{display: inline-block;float: left;width: 15px;height: 15px;margin-top: 4px;}
.cloud-label-widget-content{text-align:left}
.cloud-label-widget-content .label-count{background:$(main.color);color:#fff!important;margin-left:-3px;padding-right:3px;white-space:nowrap;border-radius: 2px;padding: 1px 4px !important;font-size: 12px !important;margin-right: 5px;}
.cloud-label-widget-content .label-size{background:#f5f5f5;display:block;float:left;font-size:11px;margin:0 5px 5px 0}
.cloud-label-widget-content .label-size a,.cloud-label-widget-content .label-size span{height: 18px !important;color:#222222;display:inline-block;font-size:12px;font-weight:500!important;padding:6px 8px}
.cloud-label-widget-content .label-size a{padding:6px 10px}
.cloud-label-widget-content .label-size a:hover{color:#fff!important}
.cloud-label-widget-content .label-size,.cloud-label-widget-content .label-count{height:30px!important;line-height:19px!important;border-radius:2px}
.cloud-label-widget-content .label-size:hover{background:$(main.color);color:#fff!important}
.cloud-label-widget-content .label-size:hover a{color:#fff!important}
.cloud-label-widget-content .label-size:hover span{background:#222222;color:#fff!important;cursor:pointer}
.cloud-label-widget-content .label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5{font-size:100%;opacity:10}
.label-size-1,.label-size-2{opacity:100}
.FollowByEmail td{width:100%;float:left;box-sizing:border-box}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit{margin-left:0;width:100%;border-radius:0;height:30px;font-size:11px;color:#fff;background-color:$(main.color);font-family: inherit;text-transform:uppercase;letter-spacing:1px}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:#222222;}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{padding-left:10px;height:30px;border:1px solid #F5F5F5;margin-bottom:5px;box-sizing:border-box;font-size:12px;font-family: 'Noto Sans', sans-serif}
.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{border:1px solid #F5F5F5}
.FollowByEmail .widget-content:before{content:"Subscribe to our mailing list to get the new updates!";display: block;padding: 0 2px;letter-spacing: -.04em;font-size: 28px;line-height: 1.2;color: #2c2f34;font-family: 'Noto Sans';margin-bottom: 10px;font-weight: 600;text-align: center}
.flickr_widget .flickr_badge_image{float:left;margin-bottom:5px;margin-right:10px;overflow:hidden;display:inline-block}
.flickr_widget .flickr_badge_image:nth-of-type(4),.flickr_widget .flickr_badge_image:nth-of-type(8),.flickr_widget .flickr_badge_image:nth-of-type(12){margin-right:0}
.flickr_widget .flickr_badge_image img{max-width:67px;height:auto}
.flickr_widget .flickr_badge_image img:hover{opacity:.5}
#ArchiveList select{border:1px solid #F5F5F5;padding:6px 8px;width:100%;cursor:pointer;font-family:'Playfair Display',arial,sans-serif;font-size:12px;color:#222222}
.PopularPosts .item-thumbnail{margin:0 10px 0 0 !important;width:80px;height:60px;float:left;overflow:hidden}
.PopularPosts .item-thumbnail a{position:relative;display:block;overflow:hidden;line-height:0}
.PopularPosts ul li img{padding:0;width:80px;height:60px}
.PopularPosts .widget-content ul li{overflow:hidden;border-top:1px solid #F5F5F5;padding:10px 0}
.sidebar .PopularPosts .widget-content ul li:first-child,.sidebar .custom-widget li:first-child{padding-top:0;border-top:0}
.sidebar .PopularPosts .widget-content ul li:last-child,.sidebar .custom-widget li:last-child{padding-bottom:0}
.PopularPosts ul li a{color:#222222;    line-height: 1.4;font-weight: 600;font-family: 'Noto Sans';font-size: 14px;letter-spacing: -.04em;}
.PopularPosts ul li a:hover{color:$(main.color)}
.PopularPosts .item-title{margin:0;padding:0;line-height:0}
.item-snippet{font-size:12px;padding-top:3px;font-weight:400;color:#5a5858}
.PopularPosts .widget-content ul li .item-snippet {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
#footer-wrapper{background-color:#292c2f}
#footer{overflow:hidden;margin:0 auto;padding:20px 0}
.sect-left{display:inline-block;float:left;width:32%;margin-right:2%}
.sect-left:nth-child(3){margin-right:0}
.sect-left .widget{padding:15px 0 20px}
.sect-left .widget:nth-of-type(2){padding-top:0}
.sect-left .widget .title-wrap{height:32px;position:relative;line-height:0;margin:0 0 10px;padding:0;border-bottom:4px solid #333333}
.sect-left .widget h2{position:relative;display:inline-block;color:#EEE;font-size:13px;height:32px;line-height:32px;text-transform:uppercase;font-weight:700;letter-spacing:.5px;padding:0}
.sect-left .widget .title-wrap h2{border-bottom:4px solid $(main.color)}
.sect-left .custom-widget .rcp-title a,.sect-left .PopularPosts ul li a{color:#fff}
.sect-left .recent-date{color:#999999}
.sect-left .custom-widget li{overflow:hidden;border-top:1px solid #333333;border-bottom:0;padding:10px 0}
.sect-left .PopularPosts .widget-content ul li{border-top:1px solid #333333}
.sect-left .PopularPosts .widget-content ul li:first-child{padding-top:0;border-top:0}
.sect-left .PopularPosts .widget-content ul li:first-child,.sect-left .custom-widget li:first-child{padding-top:0;border-top:0}
.sect-left .custom-widget .rcp-title a:hover,.sect-left .PopularPosts ul li a:hover{color:$(main.color)}
.sect-left .FollowByEmail .widget-content:before{color:#EEEEEE;margin-top:5px}
.sect-left .FollowByEmail .follow-by-email-inner .follow-by-email-submit{background-color:#333333;color:#EEEEEE}
.sect-left .FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:$(main.color)}
.sect-left #ArchiveList select{border:1px solid #333333;background:#333333;color:#EEEEEE}
.sect-left #ArchiveList select option{color:#EEEEEE}
.sect-left .cloud-label-widget-content .label-size {background:#333333}
.sect-left .cloud-label-widget-content .label-size:hover{background:$(main.color)}
.sect-left .cloud-label-widget-content .label-size a{color:#EEEEEE}
.sect-left .list-label-widget-content li{border-bottom:0;border-top:1px solid #333333}
.sect-left .list-label-widget-content li:first-child{border-top:0;padding-top:0}
.sect-left .list-label-widget-content li a,.sect-left .list-label-widget-content li a:before{color: #EEEEEE}
.sect-left .list-label-widget-content li a:hover{color:$(main.color)}
.sect-left .list-label-widget-content li:first-child a:before{top: -6px}
.footer-wrapper{background-color:RGBA(0, 0, 0, 0.2);color:#eee;display:block;padding:15px 0 13px;width:100%;overflow:hidden}
.footer-wrapper .footer-sec{margin:0 auto}
.footer-wrapper .copyright{font-size:12px;line-height:30px}
.footer-wrapper .copyright a{color:#fff;font-weight:400;letter-spacing: 0.3px;padding-left:5px}
.footer-wrapper .copyright a:hover{color:$(main.color)}
.footer-wrapper .social-footer,.footer-wrapper #social-footer{float:right;position:relative;display:inline-block;margin:0;}
.footer-wrapper .native-opt{display: inline-block;float: right;}
.footer-wrapper .social-footer ul{overflow:hidden}
.footer-wrapper .social-footer li{display:block;float:left;margin-left:5px;padding:0}
.footer-wrapper .social-footer li a{display:block;background-color:#333333;float:left;text-decoration:none;padding:0;width:30px;height:30px;text-align:center;line-height:35px;border-radius:2px}
.footer-wrapper .social-footer li a:hover{background-color:$(main.color);color:#fff;}
.footer-wrapper .social-footer li a:before{display:inline-block;content: " ";width: 15px;height: 15px;background-repeat: no-repeat}

.footer-wrapper .social-footer .back-top:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 220.682 220.682'%3E%3Cg%3E%3Cpolygon points='110.341,0 10.639,99.703 38.924,127.986 110.341,56.568 181.758,127.986 210.043,99.703 '%3E%3C/polygon%3E%3Cpolygon points='110.341,92.695 10.639,192.396 38.924,220.682 110.341,149.264 181.758,220.682 210.043,192.396'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");}
.social-footer .facebook:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z'%3E%3C/path%3E%3C/svg%3E");}
.social-footer .instagram:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 64 64'%3E%3Cpath d='M8.2 0h47.6A7.989 7.989 0 0 1 64 8.2v47.6a7.989 7.989 0 0 1-8.2 8.2H8.2A7.989 7.989 0 0 1 0 55.8V8.2A7.989 7.989 0 0 1 8.2 0zm38.4 7.1a2.9 2.9 0 0 0-2.9 2.9v6.9a2.9 2.9 0 0 0 2.9 2.9h7.2a2.9 2.9 0 0 0 2.9-2.9V10a2.9 2.9 0 0 0-2.9-2.9zm10.2 20h-5.6a19.758 19.758 0 0 1 .8 5.5c0 10.6-8.9 19.3-19.9 19.3s-19.9-8.6-19.9-19.3a19.758 19.758 0 0 1 .8-5.5H7.1v27a2.476 2.476 0 0 0 2.5 2.5h44.6a2.476 2.476 0 0 0 2.5-2.5l.1-27zm-24.7-7.7a12.723 12.723 0 0 0-12.9 12.5 12.64 12.64 0 0 0 12.9 12.4A12.723 12.723 0 0 0 45 31.8a12.64 12.64 0 0 0-12.9-12.4z' /%3E%3C/svg%3E");}
.social-footer .youtube:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z' /%3E%3C/svg%3E");}
.social-footer .quora:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='m17.516 20.01c2.992-1.903 4.984-5.313 4.984-9.199 0-5.969-4.702-10.811-10.5-10.811-5.8 0-10.5 4.842-10.5 10.812 0 5.973 4.7 10.812 10.5 10.812.853 0 1.68-.107 2.475-.305.995 1.841 2.516 3.145 5.738 2.523v-1.835c0 .001-2.066-.527-2.697-1.997zm-.073-7.767c0 1.805-.567 3.444-1.486 4.653-1.153-1.249-2.962-2.274-5.257-2.144v2.125s1.558.063 2.622 1.923c-.4.12-.813.184-1.243.184-2.962 0-5.361-3.019-5.361-6.744v-2.782c0-3.726 2.4-6.745 5.361-6.745 2.962 0 5.364 3.02 5.364 6.745z' /%3E%3C/svg%3E");}

.pop-sec{position:fixed;top:50%;margin-top:-175px;left:50%;max-width:300px;width:90%;margin-left:-150px;background-color:#FFF;height:350px;z-index:99999;display:none;-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);transition:all .5s ease;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease}
.pop-close{position:absolute;top:0;right:0;background-color:$(main.color);color:#FFF;height:25px;width:25px;text-align:center;border-radius:0;line-height:25px;font-size:10px}
.pop-close:hover{opacity:.8;color:#fff}
.pop-sec .widget{padding:0 20px}
.pop-sec h2{background-color:#222222;color:#eee;font-size:13px;padding:0 10px;font-weight:400;height:25px;line-height:25px;margin-left:-20px;margin-right:-20px;text-transform:uppercase}
.pop-sec .contact-form-cross{display:none}
.pop-sec.pop-show{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}
#outer-wrapper.pop-active{transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
#outer-wrapper.pop-active:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.69);z-index:999;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.error_page #main-wrapper{width:100%!important;margin:0!important}
.error_page #sidebar-wrapper,.error_page .status-msg-wrap{display:none}
#error-wrap{color:#222222;text-align:center;padding:60px 0 80px}
.error-item{font-size:160px;line-height:1;margin-bottom:20px}
#error-wrap h2{font-size:25px;padding:20px 0 10px}
#error-wrap .homepage{padding-top:10px;display:block}
#error-wrap .homepage i{font-size:20px}
#error-wrap .homepage:hover{text-decoration:underline}
.img-anime .recent-boxes .box-image,.img-anime .recent-boxes .bf-thumb,.img-anime .custom-widget .rcthumb,.img-anime .PopularPosts img,.img-anime .home .block-image .thumb a,.img-anime .tc-thumb a,.img-anime .PopularPosts .item-thumbnail a{opacity:0;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.img-anime .img-effect,.img-anime .recent-boxes .box-image.img-effect,.img-anime .recent-boxes .bf-thumb.img-effect,.img-anime .custom-widget .rcthumb.img-effect,.img-anime .PopularPosts img.img-effect,.img-anime .block-image .thumb a.img-effect,.img-anime .tc-thumb a.img-effect,.img-anime .PopularPosts .item-thumbnail a.img-effect{opacity:1;transition:all .8s ease;-webkit-transition:all .8s ease;-moz-transition:all .8s ease;-o-transition:all .8s ease}

/*---- blogger-defoult-css-style----*/
body{margin:0;padding:0 0 1px}
#blog-pager{margin:1em 0;text-align:center;overflow:hidden}
#blog-pager-newer-link{float:left}
#blog-pager-older-link{float:right}

/*---- side bar contect form----*/
.contactform1-widget .form{margin:0 0 0 20px;}
.contactform1-widget{display:block;background:#fff;border:2px solid $(main.color);border-radius: 3px;margin-top:-14px;}   
.contactform1-widget label{position:relative;top:4px;background-color:$(main.color);color:#fff;border-radius:3px;padding:1px 7px;margin:0 5px}
.contactform1-widget .contact-form-name,
.contactform1-widget .contact-form-email,
.contactform1-widget form textarea{display:block;border:2px solid $(main.color);border-radius:3px;box-sizing:border-box;background-color:#FFFFFF;font:inherit;font-size:14px;font-weight: normal;width:90%;padding: 0px 10px 0px;margin:0px 5px 0px;}  
.contactform1-widget ::-webkit-input-placeholder {color:  #5c666b;}
.contactform1-widget ::-moz-placeholder {color:#5c666b;opacity:1;}
.contactform2-widget :-ms-input-placeholder{color: #5c666b;}
.contactform1-widget .contact-form-name,.contactform1-widget .contact-form-email{height:50px;margin-bottom:5px;}
.contactform1-widget .contact-form-button-submit{padding: .4rem 1rem;color: #fff;transition: all 0.3s ease-in-out;background: $(main.color);border: solid 1px #00549e;box-shadow: inset 0 0 0 1px #fff;margin: 0 5px 0;}
.contactform1-widget .contact-form-button-submit:hover{background: #0781ec;box-shadow: inset 0 0 0 1.5x #fff}
.contactform1-widget .error-msg{text-align: center;width: 90%;margin: 5px;border: 2px solid $(main.color)}
.contactform1-widget .error-msg img{float:right; margin:3.7px 10px 0 0;}

/*-----sidebar subscribe us button as well as whatsapp button-----*/
.side-btn {border-radius: 3px;border: 2px solid #00549e; padding: 10px; Margin-top: 0px}
.side-btn h1 {font-family: 'Noto Sans', sans-serif}
.button14 {border-radius: 4px;padding: 0;margin: 14px 0px; -webkit-transition-duration: 0.4s;transition-duration: 0.4s;cursor: pointer;}
.sub14 {display:flex;padding: 2px 10px;text-align: center;font-size: 20px;color: #fff}
.button14 {display:inline-block; background-color: #039be5;color: white;border: 2px solid #039be5; min-width: 60px; min-height: 48px;}
.button14:hover {background-color: white}
.sub14:hover {color: #039be5}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v9/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

.progressive{position:relative;display:block;overflow:hidden;outline:none}
.progressive img{display:block;width:100%;max-width:none;height:auto;border:0}
.progressive img.preview{filter:blur(2vw);transform:scale(1)}
.progressive img.reveal{position:absolute;left:0;top:0;will-change:transform,opacity;animation:progressiveReveal 1s ease-out}
@keyframes progressiveReveal{0%{transform:scale(1);opacity:0}to{transform:scale(1);opacity:1}}

.scrolltbl{display: block;width: 100%;margin: 0;padding: 0;color: #000;overflow-x: auto;font-family: 'noto sans'}
.scrolltbl .res-table{border-collapse: collapse;border-spacing: 0;width: 100%;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd}
.scrolltbl .table-td {text-align: left;padding: 10px}
.scrolltbl .table-tr:nth-child(even) {background-color: #f2f2f2}
.scrolltbl .table-td:not(:first-child) {border-left: 2px solid #ffffff;}
@media screen and (max-width: 1110px) {
.row{max-width:96%}
#main-nav{max-width:96%!important;background:transparent;position:relative!important;margin:0 auto!important}
.is-sticky #main-nav{animation-name:none;animation-duration:0s}
.header-menu.row{max-width:100%}
.ticker .widget{max-width:96%}
.header-logo {max-width: 250px;}}
  
@media screen and (max-width: 980px) {
#header-blog,.header-content{height:auto}
.header-logo{max-width:300px;margin:15px auto 30px;float:none;display:block}
.header-logo img{margin:0 auto}
.header-ads{float:none;margin:0 auto;display:block}
#main-wrapper{float:none;overflow:hidden;width:100%}
.recent-boxes .box-sec{margin-right:0}
.posts-title{margin-right:0}
#main-wrapper #main{margin-right:0}
#sidebar-wrapper{width:100%;margin:10px auto;float:none;padding-left:0}
#footer{padding:20px 0}
.sect-left{width:100%;margin-right:0}
.sect-left .widget{padding:10px} 
}
@media screen and (max-width: 880px) {
#nav1,#menu-main-nav{display:none}
.selectnav{display:block;color:#fff}
.tm-menu{float:left;width:20%;height:35px}
.tm-menu .selectnav{position:absolute;padding:0 4px;height:30px!important;line-height:22px;margin:3px 0;width:80px;border-radius:2px!important}
.header-menu #menu .selectnav{position:absolute;font-size:16px;height:60px;width:100%;line-height:60px;float:left;text-align-last: center;text-transform: uppercase}
}
@media screen and (max-width: 700px) {
.feat .bx-first .box-thumbnail,.feat .bf-thumb,.boxes .bx-first .box-thumbnail,.boxes .bf-thumb{height:250px}
.feat .bx-first{width:100%;margin-bottom:0;padding-right:0;border-right:0}
.feat ul li{width:100%;float:left;margin-top:10px;margin-bottom:0;padding-top:10px;padding-bottom:0;border-top:1px solid #F5F5F5;border-bottom:0}
.home-ad .widget{padding:0}
.block-image{width:100%;height:250px;margin-right:0}
.block-image .thumb,.block-image .thumb a{height:250px}
.index .post article,.archive .post article{overflow:hidden;position:relative;float:left;margin-top:10px}
.footer-wrapper .footer-sec{text-align:center}
.footer-wrapper .social-footer,.footer-wrapper #social-footer{float:none;padding-bottom:5px}
.footer-wrapper .copyright{font-size:12px;display:block;text-align:center}
}
@media screen and (max-width: 440px) { 
.block-image,.block-image .thumb,.block-image .thumb a,.feat .bx-first .box-thumbnail,.feat .bf-thumb,.boxes .bx-first .box-thumbnail,.boxes .bf-thumb{height:200px}
.post h2 a,.post h2 a:visited,.post h2 strong,.item .post-title,.static_page .post-title{font-size:19px}
.resp_del3{display:none}
}
@media screen and (max-width: 310px) {
.header-logo{margin:15px auto 10px}
.header-ads,.sect-left{display:none}
}
