<header>
  <div id="header-blog">
<div class="header-content row">
<div class="header-logo">
<div class="section" id="logo_blog" name="Logo"><div class="widget Header" data-version="1" id="Header1">
<div id="header-inner">
<div class="titlewrapper">
<h1 class="title">
Decode Doubt
</h1>
</div>
<div class="descriptionwrapper">
<p class="description"><span>Decode Doubt is an educational platform designed to support learning for students of Class 9, 10, 11, and 12. We provide clear study material, notes, MCQs, and concept-based explanations for Physics, Chemistry, Mathematics, Biology and more. 
You will stay updated with Teacher Eligibility Tests (TET) like UPTET, CTET, REET, STET, and UTET, along with the latest General Awareness and Current Affairs.
Our mission is to decode your doubts and empower you with high-quality, exam-oriented content.</span></p>
</div>
</div>
</div></div>
</div>
<div class="header-ads">
<div class="no-items section" id="ads-content" name="Ads 728x90"></div>
</div>
</div>
</div>
</header>
