<div id="topnav">
<div class="tm-head row">
<div class="tm-menu">
<div class="menu1 section" id="menu1" name="Top Navigation"><div class="widget LinkList" data-version="1" id="LinkList210">
<div class="widget-content">
<ul id="nav1">
<li><a href="https://decodedoubt.blogspot.com">Home</a></li>
<li><a href="https://decodedoubt.blogspot.com/p/decode-doubt-sitemap.html">Sitemape</a></li>
<li><a href="https://decodedoubt.blogspot.com/p/about-decode-doubt.html">About Us</a></li>
<li><a href="https://decodedoubt.blogspot.com/p/privacy-policy-of-decode-doubt.html">Privacy Policy</a></li>
</ul><label for="selectnav2" class="selectnav">↓</label><select class="selectnav" id="selectnav2"><option value="">Menu</option><option value="https://decodedoubt.blogspot.com/" selected="">HOME</option><option value="https://decodedoubt.blogspot.com/p/decode-doubt-sitemap.html">SITEMAPE</option><option value="https://decodedoubt.blogspot.com/p/about-decode-doubt.html">ABOUT US</option><option value="https://decodedoubt.blogspot.com/p/privacy-policy-of-decode-doubt.html">PRIVACY POLICY</option></select>
</div>
</div></div>
</div>
<!-- Top Social -->
<div class="social-area">
<div class="social-top section" id="social-top" name="Social Top"><div class="widget LinkList" data-version="1" id="LinkList50">
<div class="widget-content">
<ul>
<li><a class="telegrm" href="https://decodedoubt.blogspot.com/" rel="noopener" target="_blank" title="telegrm"></a></li>
<li><a class="youtube" href="https://decodedoubt.blogspot.com/" rel="noopener" target="_blank" title="youtube"></a></li>
<li><a class="facebook" href="https://decodedoubt.blogspot.com/" rel="noopener" target="_blank" title="facebook"></a></li>
<li><a class="instagram" href="https://decodedoubt.blogspot.com/" rel="noopener" target="_blank" title="instagram"></a></li>
<li><a class="quora" href="https://hi.quora.com/profile/Krishan-Kant-7" rel="noopener" target="_blank" title="quora"></a></li>
</ul>
</div>
</div></div>
</div>
</div>
</div>